tmux/resurrect/
raycast/extensions
vs-code/User/History/
vs-code/User/globalStorage/
vs-code/User/snippets/
vs-code/User/workspaceStorage/
vs-code/extensions/
**/undodir/
/gh/**
/iterm2/**
*.DS_Store
/raycast/**

